In [ ]:
import pandas as pd
from selenium import webdriver

In [ ]:
df = pd.read_excel("Demo.xlsx")
df.head()

,T. Calenders Days,Month,Full Name (As Per CNIC),CNIC Number,Designation,Date Of Joining,Gross Salary,Bonus / Commission,Increment,Reimbursment Amount,Compensation,Adjustments,Absents Deduction,Lates Deduction,Other Deductions,Payroll Tax Deduction,Net Salary Payable\n(in PKR),Total Deductions\n(Amount),Salary Payable\n(Amount)
0,31,OCTOBER' 2024,Muhammad Haris Dilshad,42000-123456-7,Accounts - Assistant Manager,2024-01-26,5,2,1,3,8,10,12,15,0,800,1200,400,800
1,31,OCTOBER' 2024,Fahad Bin Zahid,42000-123456-8,Accounts - Executive,2024-01-27,5,2,1,3,8,10,0,0,0,800,1200,400,800
2,31,OCTOBER' 2024,Ibrahim Najmuddin,42000-123456-9,Accounts - Executive,2024-01-28,5,2,1,3,8,10,0,0,0,800,1200,800,400
3,31,OCTOBER' 2024,Zuhaib Ghori,42000-123456-10,Accounts - Executive,2024-01-29,5,2,1,3,8,10,0,0,0,800,1200,800,400
4,31,OCTOBER' 2024,Muhammad Sabih Uddin Farooqi,42000-123456-11,Accounts - HOD,2024-01-30,5,2,1,3,8,10,0,0,0,800,1200,400,800

In [7]:
browser = webdriver.Edge()
browser.get('https://printyourcopy.com/free-payslip-generator')